<html>
<head>
    <link rel="icon" href="/teste/Application/View/img/favicon.ico" type="image/x-icon" />
	<title>Chamada</title>

    <?php echo $GLOBALS['general_js'] ?>
    <?php echo $GLOBALS['general_css'] ?>

</head>

<body width="100%" style="width: 100%;" topmargin="0" leftmargin="0">

	<div>
		<form id="loginForm">
			<div id="messageBox"></div>
			<br /><br />
			<div><b>Login</b></div>
			<br />
			<div>Usu&aacute;rio: <input type="text" name="user" id="user" /></div>
			<div>Senha: <input type="text" name="password" id="password" /></div>
			<div><input type="button" value="OK" id="LogMeIn" /></div>
		</form>
	</div>

</body>
</html>