<span>Search Parent: </span><input type="text" ng-model="q" /><br/>
<div ng-repeat="parent in parents| filter: q">
    <input type="radio" ng-model="post.parentId" value="{{parent.id}}" checked> {{parent.title}}<br/>
</div>
<br/>
<input type="hidden" ng-model="post.id" value="" />
Category: 
<select ng-model="post.categoryId">
    <option ng-repeat="category in categories" value="{{category.id}}">
        {{category.category}}
    </option>
</select>
<br/>
<br/>
<span>Id: {{post.id}}</span><br/>
<span>Title: </span><input type="text" ng-model="post.title" /><br/>
<textarea ng-model="post.content"></textarea><br/>
Creation date: {{post.date}}<br/>
Last Updated: {{post.lastUpdated}}
<br/>
<br/>
<button ng-click="save()">OK</button>