<div style="text-align: justify;">
    <b>Why SaSeed?</b><br/>
    <br/>
    There are many free and well stablished PHP frameworks available, such as Zend, Cake or Laravel. They are all excellent in their function and are able to serve as a development platform for big and complex applications, able to handle multiple different modules and deal with almost anything there is to be dealt with.<br/>
    <br/>
    For this very reason, it also makes them a little too bureaucratic and complex. Installation, general settings, environmental settings, server settings, controller and service declarations, folder structure replication, etc.<br/>
    <br/>
    Using them to develop a small/medium size application can prove to be a little costy or a bit too time demanding. On top of that, it’s like using a bazooka to try and kill mosquitoes: there’s just way too much loaded in there, for such a small objective.<br/>
    <br/>
    <img src="img/bazuca1.jpg" alt="Bazooka for mosquitoes!" class="forceCenter" /><br/>
    <br/>
    Also, for juniors or programmers not familiar with MVC architecture, all that bureaucracy gets in the way of learning process, if the developer is to still fully grasp the concepts of Single Responsibility Principle or Multilayered Architecture.<br/>
    <br/>
    <img src="img/raidMosquito.png" class="forceLeft" />
    SaSeed was born to attend properly to the mosquito, so to say. It is designed for:<br/>
    <br/>
    &nbsp;&nbsp;&nbsp;- Fast non-bureaucratic development of small/medium applications<br/>
    &nbsp;&nbsp;&nbsp;- Small businesses with good ideas<br/>
    &nbsp;&nbsp;&nbsp;- Education<br/>
    <br/>
    SaSeed is a framework that makes you able to develop Object Oriented MVC applications as fast as it can be done, with minimum settings and designed in a way, that MVC and Multilayered Architecture just comes out naturally for the more unexperienced developers.<br/>
    <br/>
    Come and try! It’s easy! =)
    <br/><br/>
    <img src="img/saci01.jpg" class="forceRight" />
    <br/>
</div>