<?php
	use SaSeed\View\View;
?>
<html>
<head>
	<?php
		View::$CSSHandler->declareGeneralCSS();
	?>
</head>
<body>
	<?php View::appendTemplate('menu_main'); ?>
	<br />
	<div id="message" class="message"></div>
	<div class="container">
		<b>Add new user</b>
		<br /><br />
		<form method="post" action="/Users/saveJsonResponse" class="form">
			user: <input type="text" name="user" id="user" value="<?php echo $user->getUser(); ?>" /><br />
			email: <input type="text" name="email" id="email" value="<?php echo $user->getEmail(); ?>" /><br />
			password: <input type="password" name="password" id="password" /><br />
			<br />
			<input type="submit" value="Save with Json response" class="jsonResponse" />
		</form>
	</div>
</body>
<?php
	View::$JSHandler->declareGeneralJSLibs();
	View::$JSHandler->declareGeneralJS();
?>
</html>