<?php
	use SaSeed\View\View;
?>
<html>
<head>
	<?php
		View::$CSSHandler->declareGeneralCSS();
	?>
</head>
<body>
	<?php View::appendTemplate('menu_main'); ?>
	<br />
	<div id="message" class="message"></div>
	<div class="container">
		<b>List of users</b>
		<br /><br />
		<table border="1" cellpassing="0" cellspacing="0">
		<?php
			View::appendTemplate('user_tableHeader');
			foreach ($users as $user) {
				?>
				<tr>
					<td><a href="/Users/edit/<?php echo $user->getId(); ?>"><?php echo $user->getId(); ?></a></td>
					<td><?php echo $user->getUser(); ?></td>
					<td><?php echo $user->getEmail(); ?></td>
					<td><a href="/Users/delete/<?php echo $user->getId(); ?>">delete</a></td>
				</tr><?php
			}
		?>
		</table>
	</div>
</body>
<?php
	View::$JSHandler->declareGeneralJSLibs();
	View::$JSHandler->declareGeneralJS();
?>
</html>